@use '../abstracts/' as *;

header {
	.top.active {
		position: relative;
		.close {
			display: block;
		}

		.header-nav {
			display: flex;
		}

		.bars {
			display: none;
		}
	}

	.top {
		.close {
			display: none;
		}
		.header-nav {
			overflow: scroll;
			@include wrapper;
			background: $clr-neutral;
			display: none;
			position: absolute;
			height: calc(100vh - 150px);
			top: 70px;
			z-index: 1;
			border-radius: 0.5rem;
			padding: 2rem 1.5rem;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
				rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
			flex-direction: column;
			gap: 2rem;

			hr {
				border: none;
				border-top: 2px solid;
				border-color: rgba($clr-footer-text, 0.5);
			}

			a:not(.btn) {
				font-family: $ff-primary;
				color: $clr-secondary;
			}

			.main-link,
			.link {
				font-size: 1.125rem;
			}

			.link {
				font-weight: $fw-primary-bold;
			}

			.nav-links-container {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;

				.nav-links {
					display: flex;
					flex-direction: column;
					gap: 1rem;
					align-items: center;
				}

				.nav-links.active {
					.arrow {
						transform: translate(150%, -50%) rotate(180deg);
					}
					.sub-links {
						display: flex;
					}
				}

				.main-link {
					position: relative;
				}

				.arrow {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translate(150%, -50%);
				}

				.sub-links {
					display: none;
					width: 100%;
					padding: 1rem 0;
					display: none;
					flex-direction: column;
					gap: 0.5rem;
					background: #000;
					border-radius: 0.25rem;
					background-color: rgba($clr-footer-text, 0.5);
				}

				.sub-link {
					display: block;
				}
			}

			.nav-btns {
				display: flex;
				gap: 1rem;
				flex-direction: column;
				align-items: center;

				.btn {
					background: $gra-header;
					color: $clr-neutral;
				}
			}
		}
	}
}
