@use '../abstracts/' as *;

body {
	text-align: center;

	@include mq-large {
		text-align: left;
	}
}

.desktop {
	display: none;
	@include mq-large {
		display: block;
	}
}

.mobile {
	display: block;
	@include mq-large {
		display: none;
	}
}

button.main-link {
	cursor: pointer;
	border: none;
	background-color: transparent;
	box-shadow: none;
}

h2 {
	text-align: center;
}
